* text=auto eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.ini text eol=lf
*.sh text eol=lf
*.env text eol=lf
